.App {
  text-align: center;
}

.testing {
    border-right:1px solid #DEDEDE;
    color: #1A237E;
    font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FAFBFF;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}